<% if answers.blank? %>
  <p class="mt-4 h4">まだヒトコトはありません…。</p>
<% end %>

<% answers.each do |answer| %>
  <article class="mt-4 shadow-lg">
      <%= attachment_image_tag answer.theme, :image, class:"card-img-top"; %>
    <h1>
      <%= link_to admins_answer_path(answer.id) do %>
        <%= answer.content %>
      <% end %>
    </h1>
    <nav class="navbar-expand mt-2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-4 h4">
          <%= link_to admins_user_path(answer.user.id) do %>
            <i class="fas fa-user"></i>
            <%= answer.user.name %>
          <% end %>
        </li>
        <li class="nav-item ml-4 h4">
          <%= link_to admins_answer_path(answer.id) do %>
            <i class="fas fa-comment"></i>
            <%= answer.comments.count %>
          <% end %>
        </li>
      </ul>
    </nav>

    <div class="h4">
      <%= link_to "この回答を削除", admins_answer_path(answer), method: :delete, data: {confirm: "削除しますか？"} %>
    </div>
   </article>
<% end %>
<div class="row">
  <div class="mx-auto mt-2 h2">
    <%= paginate answers %>
  </div>
</div>