<% answers.each do |answer| %>

<%= link_to theme_path(answer.theme.id) do %>
<%= attachment_image_tag answer.theme, :image %>
<% end %>


<h1>
  <%= link_to answer_path(answer.id) do %>
  <%= answer.content %>
  <% end %>
</h1>
<p>ヒトコトby:<%= answer.user.name %></p>

<!--イイね部分-->
  <% if answer.favorited_by?(current_user) %>
    <p>
      <%= link_to answer_favorites_path(answer), method: :delete do %>
        ♥<%= answer.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to answer_favorites_path(answer), method: :post do %>
        ♡<%= answer.favorites.count %> いいね
      <% end %>
    </p>


  <% end %>

  <!--レビュー部分-->
  <p>レビューを書く</p>
<%= form_with model: Review, url: answer_reviews_path(answer), local: true do |f| %>
<div class="rating-box">
  <div class="ratings">
<span class="fa fa-star-o" id="star"></span>
<span class="fa fa-star-o" id="star"></span>
<span class="fa fa-star-o" id="star"></span>
<span class="fa fa-star-o" id="star"></span>
<span class="fa fa-star-o" id="star"></span>
  </div>
<span>0</span>/5
</div>
<%= f.hidden_field :answer_id, value: answer.id %>
<%= f.hidden_field :score, id: "rating-value" %>
<%= f.submit "保存", class: "button" %>
<% end %>


<p><%= link_to "#{answer.comments.count} コメント", answer_path(answer.id) %></p>

<% end %>
<%= paginate answers %>