
<div class="d-flex flex-wrap flex-row">
<% themes.each do |theme| %>
 <article class="mt-4 shadow-lg mx-auto" style="width:48%;">
    <%= attachment_image_tag theme, :image, class:"card-img-top"; %>
    <nav class="navbar-expand mt-2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-4 mx-auto">
          <%= link_to admins_user_path(theme.user.id) do %>
            <i class="fas fa-user"></i>
             <%= theme.user.name %>
          <% end %>
        </li>
        <li class="nav-item ml-4 mx-auto">
          <i class="fas fa-seedling"></i>
          <%= theme.answers.count %>
        </li>
      </ul>
    </nav>
    <div>
      <%= link_to "このお題を削除", admins_theme_path(theme), method: :delete, data: {confirm: "削除しますか？紐づく回答も削除されます"} %>
    </div>
  </article>
<% end %>
</div>
<div class="row">
  <div class="mx-auto mt-2 h2">
    <%= paginate themes %>
  </div>
</div>
