<div class="d-flex flex-wrap flex-row">
  <% themes.each do |theme| %>
    <article class="mt-5 shadow-lg mx-auto pb-1" style="width:48%;">
      <%= link_to theme_path(theme.id) do %>
        <%= attachment_image_tag theme, :image, class:"card-img-top card-img-sm"; %>
      <% end %>
      <nav class="navbar-expand mt-2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ml-4 h6 mx-auto">
            <%= link_to user_path(theme.user.id) do %>
              <i class="fas fa-user"></i>
              <%= theme.user.name %>
            <% end %>
          </li>
          <li class="nav-item ml-4 h6 mx-auto">
            <%= link_to theme_path(theme.id) do %>
              <i class="fas fa-seedling"></i>
              <%= theme.answers.count %>
            <% end %>
          </li>
        </ul>
      </nav>
      <!--GoogleCloudAPIで取得したラベル-->
      <% if theme.theme_tags.present? %>
        <p class="small mt-1 ml-1"><%= image_tag 'hint.png', :size =>'14x12' %>ヒントになりますか</p>
      <% end %>
      <% theme.theme_tags.each do |theme_tag| %>
        <span class="tag ml-1"><%= theme_tag.name %></span>
      <% end %>
    </article>
  <% end %>
</div>

<div class="row">
  <div class="mx-auto mt-2 h2">
    <%= paginate themes %>
  </div>
</div>

