<div class="containar">
  <div class="row">
    <div class="col-md-5 col-xs-10 mx-auto">
      <h2 class="border-bottom border-gray mt-4 text-dange">
        <i class="fas fa-globe-asia"></i> ランダムお題
        </h2>
        <nav class="navbar-expand mt-2">
        <ul class="navbar-nav ml-auto nav-tabs">
          <li class="nav-item ml-4 h4 nav-link">
            <%= link_to "新着", themes_path %>
          </li>
          <li class="nav-item ml-4 h4 nav-link">
            <%= link_to "人気", themes_rankindex_path %>
          </li>
          <li class="nav-item ml-4 h4 nav-link active">
            <%= link_to 'ランダム1問', themes_introduction_path %>
          </li>
          <li class="nav-item ml-4 h4 nav-link">
            <%= link_to 'お題投稿', new_theme_path %>
            <i class="fas fa-file-upload"></i>
          </li>
        </ul>
      </nav>

  <%= link_to 'クリックするとランダムに1つお題を表示します。', themes_random_path, class:"btn-info btn mt-5 w-100"; %>

     </div>
  </div>
</div>