<div class="containar">
  <div class="row">
    <div class="col-md-5 col-xs-10 mx-auto ">
      <h5 class="border-bottom border-gray mt-4 font-weight-bold">
        <i class="fas fa-globe-asia"></i> このお題でヒトコト
      </h5>
      <article class="mt-4 pb-2 shadow-lg">
        <%= attachment_image_tag @theme, :image, class:"card-img-top card-img-lg"; %>
        <nav class="navbar-expand mt-2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-4 h5">
              <%= link_to user_path(@theme.user.id) do %>
                <i class="fas fa-user"></i>
                <%= @theme.user.name %>
              <% end %>
            </li>
            <li class="nav-item ml-4 h5">
              <i class="fas fa-seedling"></i>
              <%= @theme.answers.count %>
            </li>
          </ul>
        </nav>
        <% if @theme.theme_tags.present? %>
          <p class="small ml-2"><%= image_tag 'hint.png', :size =>'12x11' %>ヒントになるかも</p>
        <% end %>
        <% @theme.theme_tags.each do |theme_tag| %>
          <%= link_to tagsearch_path(theme_tag.name), :style=>"text-decoration:none;" do %>
            <span class="tag ml-2"><%= theme_tag.name %></span>
          <% end %>
        <% end %>
      </article>
<!--ヒトコト投稿フォーム-->
      <%= form_with model:@answer, url: answers_path, local:true do |f| %>
        <%= f.hidden_field :theme_id, value: @theme.id %>
        <%= f.text_area :content, rows:'4',autofocus: true, class: "mt-2 w-100", placeholder: "このお題でヒトコト!!" %>
        <%= f.submit "投稿する", class: "mt-2 btn btn-info btn-block w-100" %>
      <% end %>
<!--そのお題の回答一覧-->
      <h5 class="border-bottom border-gray mt-4 font-weight-bold">
        <i class="fas fa-seedling"></i>  ヒトコト一覧
      </h5>
      <%= render 'public/answers/list', answers: @answers %>
    </div>
  </div>
</div>