<div class="containar">
  <div class="row">
    <div class="col-md-5 col-xs-10 mx-auto">

     <h2 class="mt-4 border-bottom border-gray font-weight-bold">
        <i class="fab fa-font-awesome-flag"></i> BuzzSeed へようこそ
        </h2>
        <div class="mt-4 font-weight-bold h5" style="line-height:2rem">
          <p>ヒトコトであなたの感情を揺さぶるSNSです！<br>
          現時点で<span class="h3 font-weight-bold"> <%= @themes.count %> </span>のお題に対し、
          <span class="h3 font-weight-bold"><%= @all_answers.count %> </span>のヒトコトが投稿され、<br>
         <span class="all-favorites-count h3 font-weight-bold"> <%= @all_favorites.count %> </span>回の
         Good!<i class="fas fa-thumbs-up text-danger"></i>
          で気持ちよくなっています。
          </p>
        </div>

<% unless user_signed_in? %>
<%= link_to "ログインはこちら",new_user_session_path, class:"btn-info btn mt-3 w-100"; %>
<% end %>

<%= link_to "BuzzSeedの使い方をみる",about_path, class:"btn-secondary btn btn-sm btm-block mt-3 w-100"; %>




      <h2 class="border-bottom border-gray mt-4 font-weight-bold">
        <i class="fas fa-seedling"></i> ヒトコトPick Up!
      </h2>

      <% @answers.each do |answer| %>

      <article class="mt-4 shadow-lg" id="answer_<%= answer.id %>">
        <%= attachment_image_tag answer.theme, :image, class:"card-img-top"; %>
        <h1 class="font-weight-bold m-3">
          <%= answer.content %>
        </h1>
        <nav class="navbar-expand mt-2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-4 h4">
              <%= link_to user_path(answer.user.id) do %>
                <i class="fas fa-user"></i>
                <%= answer.user.name %>
              <% end %>
            </li>
            <li class="nav-item ml-4 h4">
              <%= link_to answer_path(answer) do %>
              <i class="fas fa-comment"></i>
              <%= answer.comments.count %>
              <% end %>
            </li>
            <!--非同期のためクラスを追加-->
      <li class="nav-item ml-4 h4 favorite-btn">
        <% if user_signed_in? %>
          <%= render 'public/favorites/favorites_btn', answer: answer %>
          <% else %>
          <%= link_to answer_path(answer) do %>
          Good!<i class="far fa-thumbs-up"></i><%= answer.favorites.count %>
          <% end %>
          <% end %>
      </li>
          </ul>
        </nav>

</article>
<% end %>

<% if user_signed_in? %>
<%= link_to "もっとヒトコトを見る", answers_path, class:"btn-info btn mt-5 w-100"; %>
<% else %>
<%= link_to "アカウントを作成してもっとヒトコトを見る", "/users/sign_up", class:"btn-info btn mt-5 w-100"; %>
<%= link_to "既にアカウントをお持ちの方はコチラ", new_user_session_path, class:"btn-secondary btn btn-sm mt-2 btn-block"; %>
<% end %>

   </div>
  </div>
</div>