<div class="containar">
  <div class="row">
    <div class="col-md-5 col-xs-10 mx-auto">
      <h4 class="border-bottom border-gray mt-4 font-weight-bold">
        <i class="fas fa-user"></i> <%= @user.name %>
      </h4>
      <div class="row mt-2">
        <div class="col-4 mt-3 ml-1 text-center">
          <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "100x100", class:"rounded-circle shadow-sm"; %>
          <span class="show-follow-btn">
            <%= render 'public/relations/follow_btn', user: @user %>
          </span>
          <% if current_user == User.find_by(email: 'guest@example.com') && @user.id == current_user.id %>
            <div>
              <small>
                ※ゲストログイン時は機能が制限されます。また、投稿データは定期的に削除されます。
              </small>
            </div>
            <div class="mt-1">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}, class:"btn-secondary btn-block btn-sm w-100"; %>
            </div>
          <% elsif @user.id == current_user.id %>
            <%= link_to "編集",edit_user_path(@user), class:"btn-secondary btn mt-5 btn-sm btn-block"; %>
          <% end %>
        </div>
        <div class="col-7 ml-1 mt-3">
          <table class="table-sm font-weight-bold">
            <tbody>
              <tr>
                <th>
                  <i class="fas fa-thumbs-up text-danger"></i> 総数
                </th>
                <td>
        <!--非同期のためのクラス、-->
                <span class="favorites-count">
                  <%= @favorites_count %>
                </span>
                </td>
              </tr>
              <tr>
                <th>
                  <i class="fas fa-globe-asia"></i> お題
                </th>
                <td>
                  <%= link_to user_mytheme_path(@user) do %>
                    <%= @user.themes.count %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th>
                  フォロー
                </th>
                <td>
                  <%= link_to user_following_path(@user) do %>
                    <%= @user.followings.count %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th>
                  フォロワー
                </th>
                <td>
                  <%= link_to user_follower_path(@user) do %>
                   <%= @user.followers.count %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th>ID</th>
                <td><%= @user.unique_code %></td>
              </tr>
            </tbody>
          </table>
<!--検索フォーム-->
          <div class="mt-3">
            <%= search_form_for @q, url: users_path do |f| %>
              <%= f.search_field :unique_code_cont , placeholder: "IDで友人を探す", class:"w-75"; %>
              <%= f.submit "検索", class:"btn-secondary btn mt-2 btn-sm"; %>
            <% end %>
          </div>
        </div>
      </div>
    <!--プロフィール終わり-->
      <% if @user != current_user %>
      <% elsif @user.themes.present? && @user.answers.count >= 2 && @user.favorites.count >= 3 && @user.followings.count >= 3 %>
        <h4 class="border-bottom border-gray mt-5 pt-2 font-weight-bold">
          <i class="fas fa-info-circle"></i> チュートリアル終了です
        </h4>
        <h6 class="ml-4 mt-3 font-weight-bold">引き続きBuzzSeedを盛り上げていきましょう。</h6>
        <%= link_to "BuzzSeedの使い方をみる",about_path, class:"btn-info btn mt-3 w-100"; %>
      <% else %>
        <h4 class="border-bottom border-gray mt-5 pt-2 font-weight-bold">
          <i class="fas fa-info-circle"></i> チュートリアル
        </h4>
        <div class="mt-3 ml-3">
          <%= link_to about_path(anchor: 'about2') do %>
            <p class="ml-1 mt-2 font-weight-bold">
              <i class="fas fa-walking"></i>
              3つ以上のヒトコトにGood!<i class="fas fa-thumbs-up text-danger"></i>
            </p>
          <% end %>
          <% if @user.favorites.count < 3 %>
            <p class="ml-3 font-weight-bold">
              <strong>(<%= @user.favorites.count %> / 3)</strong>
            </p>
          <% else %>
            <h6 class="ml-3 text-primary font-weight-bold">クリア！</h6>
          <% end %>

          <%= link_to about_path(anchor: 'about4') do %>
            <p class="ml-1 mt-2 font-weight-bold">
              <i class="fas fa-walking"></i>
              1つ以上お題を投稿
            </p>
          <% end %>
          <% if @user.themes.blank? %>
            <p class="ml-3 font-weight-bold">
              <strong>(0 / 1)</strong>
            </p>
          <% else %>
            <h6 class="ml-3 text-primary font-weight-bold">クリア！</h6>
          <% end %>

          <%= link_to about_path(anchor: 'about3') do %>
            <p class="ml-1 mt-2 font-weight-bold">
              <i class="fas fa-walking"></i>
              2つ以上ヒトコトを投稿
            </p>
          <% end %>
          <% if @user.answers.count < 2 %>
            <p class="ml-3 font-weight-bold">
              <strong>(<%= @user.answers.count %> / 2)</strong>
            </p>
          <% else %>
            <h6 class="ml-3 text-primary font-weight-bold">クリア！</h6>
          <% end %>

          <%= link_to about_path(anchor: 'about5') do %>
            <p class="ml-1 mt-2 font-weight-bold">
              <i class="fas fa-walking"></i>
              3人以上のユーザーをフォロー
            </p>
          <% end %>
          <% if @user.followings.count < 3 %>
            <p class="ml-3 font-weight-bold">
              <strong>(<%= @user.followings.count %> / 3)</strong>
            </p>
          <% else %>
            <h6 class="ml-3 text-primary font-weight-bold">クリア！</h6>
          <% end %>

        </div>
        <%= link_to "BuzzSeedの使い方をみる",about_path, class:"btn-info btn mt-3 w-100"; %>
      <% end %>
    <!--チュートリアル終わり-->
      <h4 class="border-bottom border-gray mt-5 font-weight-bold">
        <i class="fas fa-seedling"></i> ヒトコト（全<%= @mypage_answers.count %>件）
      </h4>
<!--そのユーザーの回答一覧-->
      <%= render 'public/answers/list', answers: @mypage_answers %>
    </div>
  </div>
</div>