<div class="containar">
  <div class="row">
    <div class="col-md-5 col-xs-10 mx-auto">
      <h2 class="border-bottom border-gray mt-4 font-weight-bold">
        <i class="fas fa-user"></i> <%= @user.name %>
      </h2>
      <div class="row mt-2">
        <div class="col-4 mt-3 text-center">
          <%= attachment_image_tag @user, :profile_image, :fill, 120, 120, format: 'jpeg', fallback: "no_image.jpg", size: "120x120", class:"rounded-circle shadow-sm"; %>
          <span class="show-follow-btn">
            <%= render 'public/relations/follow_btn', user: @user %>
          </span>
          <% if current_user == User.find_by(email: 'guest@example.com') %>
         <div> <small>※ゲストログイン時は機能が制限されます。
          また、投稿データは定期的に削除されます。</small></div>
<div class="mt-1"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}, class:"btn-secondary btn-block btn-sm w-100"; %>
          </div>
          <% elsif @user.id == current_user.id %>
            <%= link_to "編集",edit_user_path(@user), class:"btn-secondary btn mt-3 btn-sm btn-block"; %>
          <% end %>
        </div>
        <div class="col-7 offset-1 mt-3">
          <table class="h6  table-sm font-weight-bold">
            <tbody>
              <tr>
                <th><i class="fas fa-thumbs-up text-danger"></i> 総数</th>
                <td>
        <!--非同期のためのクラス、-->
                  <span class="favorites-count">
                    <%= @favorites_count %>
                  </span>
                </td>
              </tr>
              <tr>
                <th><i class="fas fa-globe-asia"></i> お題</th>
                <td>
                  <%= link_to user_mytheme_path(@user) do %>
                    <%= @user.themes.count %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th><i class="fas fa-user-friends"></i> フォロー</th>
                <td>
                  <%= link_to user_following_path(@user) do %>
                    <%= @user.followings.count %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th><i class="fas fa-user-friends"></i> フォロワー</th>
                <td>
                  <%= link_to user_follower_path(@user) do %>
                   <%= @user.followers.count %>
                  <% end %>
                </td>
                </tr>
                <tr>
                <th>BuzzSeed ID</th>
                <td><%= @user.unique_code %></td>
              </tr>
            </tbody>
          </table>
<!--検索フォーム-->
        <div class="mt-2">
          <%= search_form_for @q, url: users_path do |f| %>
            <%= f.search_field :unique_code_cont , placeholder: "IDで友人を探す"%>
              <%= f.submit "検索", class:"btn-secondary btn mt-2 btn-sm"; %>
            <% end %>
        </div>
      </div>
    </div>
    <!--プロフィール終わり-->
    <% if @user != current_user %>
    <% elsif @user.themes.present? && @user.answers.count >= 2 && @user.favorites.count >= 3 && @user.followings.count >= 3 %>
      <h2 class="border-bottom border-gray mt-4 font-weight-bold">
        <i class="fas fa-info-circle"></i> チュートリアル終了です
      </h2>
      <h5 class="ml-4 mt-3 font-weight-bold">引き続きBuzzSeedを盛り上げていきましょう！</h5>
      <%= link_to "BuzzSeedの使い方をみる",about_path, class:"btn-info btn mt-3 w-100"; %>
      <%= link_to "総合データをみる",root_path, class:"btn-secondary btn btn-sm btn-block mt-2 w-100"; %>
    <% else %>
      <h2 class="border-bottom border-gray mt-4 font-weight-bold">
        <i class="fas fa-info-circle"></i> チュートリアル
      </h2>
      <div class="mt-3 ml-2">

          <h4 class="mt-4 mb-1 font-weight-bold">
            <i class="fas fa-walking"></i>
            <%= link_to 'Goodをする', about_path(anchor: 'about1') %>
          </h4>
        <% if @user.favorites.count < 3 %>
          <p class="ml-4">3つ以上のヒトコトにGoodしよう！
          <strong>(<%= @user.favorites.count %> / 3)</strong></p>
        <% else %>
          <h5 class="ml-4 text-primary font-weight-bold">クリア！</h5>
        <% end %>

          <h4 class="mt-4 mb-1 font-weight-bold">
            <i class="fas fa-walking"></i>
            <%= link_to 'お題を投稿する', about_path(anchor: 'about3') %>
          </h4>
        <% if @user.themes.blank? %>
          <p class="ml-4">1つ以上お題を投稿しよう
          <strong>(0 / 1)</strong>
          </p>
        <% else %>
          <h5 class="ml-4 text-primary font-weight-bold">クリア！</h5>
        <% end %>

          <h4 class="mt-4 mb-1 font-weight-bold">
            <i class="fas fa-walking"></i>
            <%= link_to 'ヒトコトを投稿する', about_path(anchor: 'about2') %>
          </h4>
        <% if @user.answers.count < 2 %>
          <p class="ml-4">2つ以上ヒトコトを投稿しよう！
          <strong>(<%= @user.answers.count %> / 2)</strong></p>
          </p>
        <% else %>
          <h5 class="ml-4 text-primary font-weight-bold">クリア！</h5>
        <% end %>

          <h4 class="mt-4 mb-1 font-weight-bold">
            <i class="fas fa-walking"></i>
            <%= link_to 'フォローする', about_path(anchor: 'about4') %>
          </h4>
        <% if @user.followings.count < 3 %>
          <p class="ml-4">3人以上のユーザーをフォローしよう！
          <strong>(<%= @user.followings.count %> / 3)</strong></p>
          </p>
        <% else %>
          <h5 class="ml-4 text-primary font-weight-bold">クリア！</h5>
        <% end %>

      </div>
      <%= link_to "BuzzSeedの使い方をみる",about_path, class:"btn-info btn mt-3 w-100"; %>
    <% end %>
    <!--チュートリアル終わり-->
    <h2 class="border-bottom border-gray mt-4 font-weight-bold">
      <i class="fas fa-seedling"></i> ヒトコト（全<%= @mypage_answers.count %>件）
    </h2>
<!--そのユーザーの回答一覧-->
    <%= render 'public/answers/list', answers: @mypage_answers %>
   </div>
  </div>
</div>