  <header class="shadow-sm sticky-top w-100">
    <nav class="navbar navbar-expand-lg navbar-light">
      <body>
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag('logo5.png') %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
               <li class="nav-item ml-4 h3 mt-4">
                 <%= link_to answers_path, title: 'ヒトコト' do %>
                   <i class="fas fa-seedling"></i>
                 <% end %>
               </li>
               <li class="nav-item ml-4 h3 mt-4">
                 <%= link_to themes_path, title: 'お題' do %>
                   <i class="fas fa-globe-asia"></i>
                 <% end %>
               </li>
               <li class="nav-item ml-4 h3 mt-4">
                 <%= link_to notifications_path, title: '通知' do %>
                   <% if unchecked_notifications.any? %>
                    <i class="fas fa-circle noticemark"></i>
                    <i class="fas fa-bell"></i>
                   <% else %>
                     <i class="fas fa-bell"></i>
                   <% end %>
                 <% end %>
               </li>
               <li class="nav-item ml-4 h3 mt-4">
                 <%= link_to destroy_user_session_path, title: 'ログアウト', method: :delete, data: {confirm: "ログアウトしますか？"} do %>
                   <i class="fas fa-sign-out-alt"></i>
                 <% end %>
               </li>
               <li class="nav-item ml-4 h3 mt-4">
                 <%= link_to user_path(current_user), title: 'マイページ' do %>
                   <%= attachment_image_tag current_user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size: "40x40", class:"rounded-circle shadow-sm"; %>
                 <% end %>
               </li>
             <% elsif admin_signed_in? %>
              <p>管理者ログイン中</p>
              <li class="nav-item ml-4 h6">
                <%= link_to 'お題', admins_themes_path %>
              </li>
              <li class="nav-item ml-4 h6">
                <%= link_to '回答', admins_answers_path %>
              </li>
              <li class="nav-item ml-4 h6">
                <%= link_to 'ユーザー', admins_users_path %>
              </li>
              <li class="nav-item ml-4 h6">
                <%= link_to 'お知らせ', admins_informations_path %>
              </li>
              <li class="nav-item ml-4 h6">
                <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
              </li>
            <% else %>
              <li class="nav-item ml-4 h3 mt-4">
                <%= link_to answers_path, title: 'ヒトコト' do %>
                  <i class="fas fa-seedling"></i>
                <% end %>
              </li>
              <li class="nav-item ml-4 h3 mt-4">
                <%= link_to themes_path, title: 'お題' do %>
                  <i class="fas fa-globe-asia"></i>
                <% end %>
              </li>
              <li class="nav-item ml-4 h3 mt-4">
                <%= link_to new_user_registration_path, data: {"turbolinks" => false}, title: '新規登録' do  %>
                  <i class="fas fa-user-plus"></i>
                <% end %>
              </li>
              <li class="nav-item ml-4 h3 mt-4">
                <%= link_to new_user_session_path, data: {"turbolinks" => false}, title: 'ログイン' do  %>
                  <i class="fas fa-sign-in-alt"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>