  <% if user_signed_in? %>
    <ul class="xs-nav w-100 shadow-lg fixed-bottom list-unstyled list-group list-group-horizontal text-center">
      <button class="mx-auto h4 list-group-item list-group-item-action">
        <%= link_to answers_path do %>
         <p><i class="fas fa-seedling"></i></p>
        <% end %>
      </button>
      <button class="mx-auto h4 list-group-item list-group-item-action">
        <%= link_to themes_path do %>
        <p><i class="fas fa-globe-asia"></i></p>
        <% end %>
      </button>
      <button class="mx-auto h4 list-group-item list-group-item-action">
        <%= link_to notifications_path do %>
          <% if unchecked_notifications.any? %>
            <i class="fas fa-circle noticemark"></i>
            <p><i class="fas fa-bell"></i></p>
          <% else %>
            <p><i class="fas fa-bell"></i></p>
          <% end %>
        <% end %>
      </button>
      <button class="mx-auto h4 list-group-item list-group-item-action">
        <%= link_to user_path(current_user) do %>
         <p>
           <%= attachment_image_tag current_user, :profile_image, :fill, 35, 35, format: 'jpeg', fallback: "no_image.jpg", size: "35x35", class:"rounded-circle shadow-sm"; %>
         </p>
        <% end %>
      </button>
    </ul>
  <% elsif admin_signed_in? %>
  <% else %>
    <ul class="xs-nav w-100 shadow-lg fixed-bottom list-unstyled list-group list-group-horizontal text-center">
      <button class="mx-auto h4 list-group-item list-group-item-action">
        <%= link_to answers_path do %>
         <p><i class="fas fa-seedling"></i></p>
        <% end %>
      </button>
      <button class="mx-auto h4 list-group-item list-group-item-action">
        <%= link_to themes_path do %>
        <p><i class="fas fa-globe-asia"></i></p>
        <% end %>
      </button>
      <button class="mx-auto h4 list-group-item list-group-item-action">
        <%= link_to new_user_registration_path, data: {"turbolinks" => false}, title: '新規登録' do  %>
          <i class="fas fa-user-plus"></i>
        <% end %>
      </button>
      <button class="mx-auto h4 list-group-item list-group-item-action">
        <%= link_to new_user_session_path, data: {"turbolinks" => false}, title: 'ログイン' do  %>
          <i class="fas fa-sign-in-alt"></i>
        <% end %>
      </button>
    </ul>
  <% end %>