<!DOCTYPE html>
<html>
  <head>
    <title>BuzzSeed</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/9c0bf09418.js" crossorigin="anonymous"></script>
  </head>

<%= render 'layouts/header' %>

    <% if notice.present? %>
      <div class="time-limit h6 font-weight-bold alert alert-primary"><%= flash[:notice] %></div>
    <% end %>
    <% if alert.present? %>
      <div class="time-limit h6 font-weight-bold alert alert-warning"><%= flash[:alert] %></div>
    <% end %>
    <%= yield %>

<%= render 'layouts/footer' %>

<%= render 'layouts/mobile_nav' %>

  </body>
</html>
